<html>
<head>
<title>Go development dashboard</title>
<link rel="stylesheet" href="/dash.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/dash.js"></script>
</head>
<body>

<div class="loginbar">
{{if .User}}
	logged in as {{.User}}<br>
	show
	<a href="javascript:show('all')" class="showbar" id="show-all">all</a> |
	<a href="javascript:show('mine')" class="showbar" id="show-mine">mine</a> |
	<a href="javascript:show('todo')" class="showbar" id="show-todo">my TODOs</a> |
	<a href="javascript:show('unassigned')" class="showbar" id="show-unassigned">unassigned</a>
	<br>
	<span id="showmutetext">include muted directories</span> <input type=checkbox id="showmute"></input>
{{else}}
	<a href="/login">log in for personalization</a>
{{end}}
| <span id="showcltext">show CLs</span> <input type=checkbox id="showcl" checked=checked></input>
| <span id="showissuetext">show issues</span> <input type=checkbox id="showissue" checked=checked></input>
</div>

<h1>Go development dashboard</h1>
<span class="howto"><a target="_blank" href="http://golang.org/s/go-dev-howto">how to use</a><br></span>
<br>

<table>
{{range $rawindex, $item := .Dirs}}
	{{/* The raw map index for dirs in all but the main repo begins with \x7F
	  so that it will sort after the main repo dirs. Remove before using. */}}
	{{$dir := replace $rawindex "\x7F" "" -1}}

	<tbody class="dir dir-{{$dir}} {{muted $dir}}">
	<tr class="dir dir-{{$dir}}">
		<td colspan=5>
			<b>{{.Dir}}</b> <span class="verb"><a class="dir-{{$dir}} mute" href="#">{{if muted $dir}}un{{end}}mute</a></span>

	{{range $ItemIndex, $Item := .Items}}
		{{with .Bug}}
			<tr class="item {{second $ItemIndex}}">
			<td class="highlight">
			<td class="issue id"><a target="_blank" href="https://code.google.com/p/go/issues/detail?id={{.ID}}">issue {{.ID}}</a>
			{{$Author := (index .Comment 0).Author}}
			<td class="author {{$Author | mine}}">{{$Author | short}}
			<td class="reviewer {{.Owner | mine}}">{{.Owner | short}}
			<td class="summary">{{.Summary}}
		{{end}}
		{{range .CLs}}
			<tr class="item {{if $Item.Bug}}nest{{end}} {{.Modified | old}}">
			<td class="highlight">
			<td class="codereview id"><a target="_blank" href="https://codereview.appspot.com/{{.CL}}">CL {{.CL}}</a>
			<td class="author {{.OwnerEmail | mine}} {{css "todo" (not .NeedsReview)}}">{{.OwnerEmail | short}}
			<td class="reviewer {{reviewer . | mine}} {{css "todo" .NeedsReview}}">
				<span id="reviewer-{{.CL}}">{{reviewer . | short}}</span>
				{{/* Note: allowing any logged in user, not just committer,
				  to assign. That's how R= messages work too. */}}
				{{if $.User}}
					<span class="assignreviewer">
						<a class="assignreviewer" id="assign-{{.CL}}" href="#">edit</a>
						<span id="err-{{.CL}}"></span>
					</span>
				{{end}}
			<td class="summary">{{.Summary}}
				<span class="lgtmornot">{{if .NOTLGTM}}<span class="notlgtm">(&ndash;{{.NOTLGTM | short | join ","}}</span>{{if .LGTM}}; <span class="lgtm">+{{.LGTM | short | join ","}}</span>{{end}}<span class="notlgtm">)</span>{{else}}{{if .LGTM}}<span class="lgtm">(+{{.LGTM | short | join ","}})</span>{{end}}{{end}}</span><br>
				<div class="extra">
				<span class="summary"><span class="age">last updated {{.Modified | since}}</span>{{if .Delta}}<span class="delta">, {{.Delta}} lines</span>{{end}}, {{if .NeedsReview}}<span class="needsreview">waiting for reviewer</span>{{else}}<span class="needswork">waiting for author</span>{{end}}</span><br>
				<span class="files">{{.Files | join " "}}</span>
				</div>
		{{end}}
	{{end}}
	</tbody>
{{end}}
</table>
</body>
</html>
